<% if (typeof name !== "undefined" && name) { %>
<table>
  <tbody>
    <tr>
      <% if (typeof photo !== "undefined" && photo) { %>
      <td valign="middle" style="width:80px;">
        <img src="<%= photo %>" style="max-width:80px;">
      </td>
      <% } %>
      <td valign="middle" style="text-align:left;font-family:Arial,sans-serif;font-size:14px">
        <% if (typeof photo !== "undefined" && !photo) { %>
        <br>
        <% } %>
        <strong>
          By
          <% if (typeof authorURL !== "undefined" && authorURL) { %>
          <a href="<%= authorURL %>" style="text-decoration:none;color:#2e6e9e;font-family:Arial,sans-serif" target="_blank">
            <%- name%>
          </a>
          <% } else { %>
          <%- name%>
          <% } %>
        </strong>
        <br><font color="#505050"><%- sendDate %></font>
        <% if (typeof photo !== "undefined" && !photo) { %>
        <br><br>
        <% } %>
      </td>
    </tr>
  </tbody>
</table>
<% } %>
