.react-grid-Container .Select-control,
.react-grid-Container .Select-multi-value-wrapper {
  height:28px;
}

.react-grid-Container .Select-placeholder {
  height:28px;
  font-size: 12px;
  line-height: 1.5;
  padding: 6px 10px;
  color: #999;
}

.react-grid-Viewport {
    height: 100%;
    width: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: auto;
}
